/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800 */

.plus-jakarta-sans-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal !important;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}


/* Navbar*/
.navbar{
    height:5rem;
    background-color: white;
}
.fa-globe{
    color:red;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}
/* Footer */
.f-info-links a{
text-decoration: none;
color: #222222 !important;
}
.f-info-links a:hover{
text-decoration: underline;
color: #222222 !important;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.f-info-socials i{
      margin-right: 3rem;
      font-size:1.2rem;
    }
.f-info{
    text-align: center;
    height: 8rem;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit:cover !important;
}

.card-body{
padding: 15px !important;

}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none !important;
}

/* card effect */
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

.add-btn{
    background-color: red !important;
}

/* show page */
.show-img{
  height: 30vh;
  width: 30vh;
  border-radius: 3rem;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;

}

.mapContainer{
    border: 0px solid rgb(191, 222, 17);
    height: 400px;
    width: 1000px;
}
#map { 
        height:400px;
        width:100vh}
.taxinfo{
    display: none;
}
.search{
    margin-left: auto;
}
.navThree{
    margin-left: 12rem;
    margin-right: 8rem;
}
.btn-search{
    background-color: red;
    color: aliceblue;
    border-radius: 25rem;
    padding: 0 1rem 0 1rem;
}
.btn-success{
    background-color: red;
}
.btn-search i{
    display: inline;
    margin: auto;
}
.search-input{
    border-radius: 25rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
}